ion-content {
    --ion-background-color: #e0e0e0;
}

ion-grid {
    // --ion-grid-column-padding: 10px;
     border-collapse: collapse;
     border-style: hidden;
     
     ion-row:first-child {
       background-color:  #000000 !important;
       font-weight:500;
       font-size: 14px;
       color: aqua;
     }
     ion-col {
       border: 1px solid black;
       border-bottom: 0;
       border-right: 0;
     }
     ion-col:last-child {
       border-right: 1px solid black;
       
     }
     ion-row {
         font-size: 14px;
     }
     ion-row:last-child {
       border-bottom: 1px solid black;
     }
 
     ion-row:hover {
         background-color: aquamarine;
     }
     
   }